<html>
<head>
	<title>Django-gevent Test App</title>
	<style>
		body {
			font-family: Arial, Helvetica, sans-serif;
		}
	</style>
</head>
<body>
	<h1>Django-gevent Test App</h1>
	<ul>
		<li><a href="/long-streaming-responce/">Long Streaming Response</a></li
		<li><a href="/event-source/">Event Source (new in HTML5)</a></li>
		<li><a href="/chat/">Chat Example</a></li>
	</ul>
	<p>&nbsp;</p>
	<h4><a href="http://github.com/samwillis/django-gevent">github.com/samwillis/django-gevent</a></h4>
</body>
</html>